/* * {
  border-style: solid;
} */

body {
  font-family: Arial;
  font-size: 120%;
  background-color: black;
  background-image: url("../icon/blackholeQuizBackgroundImg.jpg");
  display: block;
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: black;
  border-radius: 5px;
  padding: 2px 10px;
  color: whitesmoke;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #4aacf3;
  color: white;
}

.blackhole {
  position: absolute;
  top: 50px;
  right: 200px;
  width: 256px;
}

.options button {
  display: block;
  width: 100%;
  text-align: left;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  padding-bottom: 20px;
  max-height: 400px;
  overflow: auto;
}

li {
  color: white;
  text-shadow: 0px 0px 6px black, 2px 2px 3px black;
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #bd0303;
  color: black;
  text-shadow: none;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

h1,
h2,
h5 {
  font-size: 50px;
  color: black;
  text-shadow: 0px 0px 2px blue, 0px 0px 5px white,
    0px 0px 8px rgb(248, 172, 95), 0px 0px 12px red, 0px 0px 18px yellow;
}
h5 {
  font-size: small;
  margin-bottom: 1px;
}

p {
  color: rgb(195, 57, 57);
  text-shadow: 0px 0px 6px black, 2px 2px 3px black;
}

.hide {
  display: none;
}

.questionTitle {
  min-height: 177px;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.rulesText {
  font-size: 30px;
}

.penalty {
  color: red;
  position: absolute;
  top: 210px;
  left: 420px;
  font-size: 50px;
  text-shadow: 0px 0px 3px black, 0px 0px 6px black, 0px 0px 10px black;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: white;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 125px;
  left: 400px;
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 0px 0px 3px black, 0px 0px 6px black, 0px 0px 10px black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  body {
    /* background: url("../icon/black-hole.256x256.png") no-repeat top 100px right
        20px,
      linear-gradient(to right, black, rgb(202, 89, 2)); */
    background: black url("../icon/blackholequiz2.jpg") no-repeat fixed center;
  }
  h2 {
    font-size: 30px;
  }

  .blackhole {
    display: none;
  }

  .wrapper {
    margin: 10px auto 0 auto;
    max-width: 600px;
  }

  .questions {
    margin: 10px;
  }

  .questionTitle {
    margin: auto;
    min-height: 107px;
  }

  .options button {
    width: 100%;
  }
  .timer {
    position: relative;
    top: auto;
    left: auto;
  }

  .timePenalty {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
  }

  .penalty {
    position: relative;
    top: auto;
    left: auto;
  }

  button {
    height: 60px;
  }
}
